<a href="https://colab.research.google.com/github/Kenrich005/ISB_Marketing_Analytics/blob/main/ISB_MA_HW1_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
# Customer data

df_customers = pd.read_csv('https://raw.githubusercontent.com/Kenrich005/ISB_Marketing_Analytics/main/mugs-preference-parameters-full.csv')
df_customers.columns = df_customers.columns.str.strip()
df_customers.head()

,Cust,pPr30,pPr10,pPr05,pIn0.5,pIn1,pIn3,pCp12,pCp20,pCp32,...,pCnLk,pBrA,pBrB,pBrC,IPr,Iin,ICp,ICl,Icn,IBr
0,1,1,3,7,1,3,7,1,7,6,...,7,7,5,1,5,8,32,7,34,14
1,2,1,6,7,1,4,7,1,7,6,...,7,7,5,1,6,3,17,10,51,15
2,3,1,6,7,1,4,7,7,4,1,...,7,1,3,7,55,5,5,8,16,9
3,4,1,6,7,1,4,7,7,1,3,...,7,7,1,5,12,9,3,40,20,16
4,5,1,4,7,1,4,7,1,7,2,...,7,3,1,7,56,6,19,9,0,11

In [3]:
# Product data

prod1 = ['30','3','20','E', 'Lk','A']
prod2 = ['10','1','20','F', 'Sp','B']
prod3 = ['30','1','20','E', 'Lk','C']

In [4]:
df_prods = pd.DataFrame(zip(prod1, prod2, prod3)).T
df_prods.columns = ['pr','in','cp','cl','cn','br']
df_prods

   pr in  cp cl  cn br
0  30  3  20  E  Lk  A
1  10  1  20  F  Sp  B
2  30  1  20  E  Lk  C

In [5]:
df_ohe = pd.get_dummies(df_prods)
df_ohe

   pr_10  pr_30  in_1  in_3  cp_20  cl_E  cl_F  cn_Lk  cn_Sp  br_A  br_B  br_C
0      0      1     0     1      1     1     0      1      0     1     0     0
1      1      0     1     0      1     0     1      0      1     0     1     0
2      0      1     1     0      1     1     0      1      0     0     0     1

In [6]:
df_customers.columns

Index(['Cust', 'pPr30', 'pPr10', 'pPr05', 'pIn0.5', 'pIn1', 'pIn3', 'pCp12',
       'pCp20', 'pCp32', 'pClD', 'pClF', 'pClE', 'pCnSl', 'pCnSp', 'pCnLk',
       'pBrA', 'pBrB', 'pBrC', 'IPr', 'Iin', 'ICp', 'ICl', 'Icn', 'IBr'],
      dtype='object')

In [7]:
# Importance Matrix

df_importance = pd.DataFrame()

df_importance['IPr10'] = df_customers['pPr10']*df_customers['IPr']
df_importance['IPr30'] = df_customers['pPr30']*df_customers['IPr']

df_importance['Iin1'] = df_customers['pIn1']*df_customers['Iin']
df_importance['Iin3'] = df_customers['pIn3']*df_customers['Iin']

df_importance['ICp20'] = df_customers['pCp20']*df_customers['ICp']

df_importance['IpClE'] = df_customers['pClE']*df_customers['ICl']
df_importance['IpClF'] = df_customers['pClF']*df_customers['ICl']

df_importance['ICnLk'] = df_customers['pCnLk']*df_customers['Icn']
df_importance['ICnSp'] = df_customers['pCnSp']*df_customers['Icn']

df_importance['IpBrA'] = df_customers['pBrA']*df_customers['IBr']
df_importance['IpBrB'] = df_customers['pBrB']*df_customers['IBr']
df_importance['IpBrC'] = df_customers['pBrC']*df_customers['IBr']

df_importance.head()

,IPr10,IPr30,Iin1,Iin3,ICp20,IpClE,IpClF,ICnLk,ICnSp,IpBrA,IpBrB,IpBrC
0,15,5,24,56,224,49,14,238,170,98,70,14
1,36,6,12,21,119,70,60,357,357,105,75,15
2,330,55,20,35,20,56,24,112,80,9,27,63
3,72,12,36,63,3,280,200,140,100,112,16,80
4,224,56,24,42,133,63,27,0,0,33,11,77

In [22]:
c = 0.0139
prod_cust_matrix = pd.DataFrame(np.exp(np.dot(df_importance, df_ohe.T)*c))
prod_cust_matrix

                0            1            2
0    11081.141739  1321.205690  2209.673398
1    12384.487991  9510.008031  3127.846414
2       54.017064  1057.750751    92.888514
3     4812.634855   378.153425  2119.424779
4       94.188680   338.356475   135.192542
..            ...          ...          ...
306    122.658001   249.211018   155.353008
307   9510.008031   697.079873  4306.152100
308   6180.781508   550.375075   959.680100
309     57.105475   168.865071   114.422759
310   2240.602317    79.718366  1844.382847

[311 rows x 3 columns]

In [23]:
exp_sum = prod_cust_matrix.sum(axis=1)
prod_cust_probs = round(prod_cust_matrix.div(exp_sum, axis=0),4)
prod_cust_probs

          0       1       2
0    0.7584  0.0904  0.1512
1    0.4949  0.3801  0.1250
2    0.0448  0.8781  0.0771
3    0.6583  0.0517  0.2899
4    0.1659  0.5960  0.2381
..      ...     ...     ...
306  0.2326  0.4727  0.2947
307  0.6553  0.0480  0.2967
308  0.8037  0.0716  0.1248
309  0.1678  0.4961  0.3361
310  0.5380  0.0191  0.4429

[311 rows x 3 columns]

In [24]:
prod_shares = prod_cust_probs.mean(axis=0)
prod_shares

0    0.348301
1    0.457175
2    0.194526
dtype: float64

In [25]:
df_prods

   pr in  cp cl  cn br
0  30  3  20  E  Lk  A
1  10  1  20  F  Sp  B
2  30  1  20  E  Lk  C

In [26]:
cp_cost = {'20':2.6, '12':1,'32':2.8}
cl_cost = {'D':1, 'F':2.2,'E':3}
cn_cost = {'Lk':1, 'Sp':0.8,'Sl':0.5}

In [27]:
df_prices = df_prods.copy()

In [28]:
df_prices = df_prices.replace({"cp": cp_cost,"cl":cl_cost, "cn":cn_cost})
df_prices['pr'] = pd.to_numeric(df_prices['pr'])
df_prices['in'] = pd.to_numeric(df_prices['in'])
df_prices

   pr  in   cp   cl   cn br
0  30   3  2.6  3.0  1.0  A
1  10   1  2.6  2.2  0.8  B
2  30   1  2.6  3.0  1.0  C

In [29]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   pr      3 non-null      int64
 1   in      3 non-null      int64
 2   cp      3 non-null      float64
 3   cl      3 non-null      float64
 4   cn      3 non-null      float64
 5   br      3 non-null      object
dtypes: float64(3), int64(2), object(1)
memory usage: 272.0+ bytes

In [31]:
df_prices['cost'] = df_prices['in'] + df_prices['cp'] + df_prices['cl'] + df_prices['cn']
df_prices['margin'] = df_prices['pr'] - df_prices['cost']
df_prices['share'] = prod_shares
df_prices['exp_profit'] = df_prices['margin']*df_prices['share']
df_prices

   pr  in   cp   cl   cn br  cost  margin     share  exp_profit
0  30   3  2.6  3.0  1.0  A   9.6    20.4  0.348301    7.105346
1  10   1  2.6  2.2  0.8  B   6.6     3.4  0.457175    1.554395
2  30   1  2.6  3.0  1.0  C   7.6    22.4  0.194526    4.357383