<a href="https://colab.research.google.com/github/Kenrich005/ISB_Marketing_Analytics/blob/main/ISB_MA_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from itertools import product

In [2]:
prices = ['30','10','05']
time_insulated = ['0.5', '1', '3']
capacity = ['12', '20', '32']
cleanability = ['D', 'F','E']
containment = ['Sl', 'Sp', 'Lk']

In [3]:
df = pd.DataFrame(list(product(prices, time_insulated,capacity,cleanability,containment )), 
                  columns=['Pr', 'In','Cp','Cl','Cn'])
df.index += 1 
print(df.shape)
df.head()

(243, 5)

   Pr   In  Cp Cl  Cn
1  30  0.5  12  D  Sl
2  30  0.5  12  D  Sp
3  30  0.5  12  D  Lk
4  30  0.5  12  F  Sl
5  30  0.5  12  F  Sp

In [4]:
df_ohe = pd.get_dummies(df)
df_ohe.head()

,Pr_05,Pr_10,Pr_30,In_0.5,In_1,In_3,Cp_12,Cp_20,Cp_32,Cl_D,Cl_E,Cl_F,Cn_Lk,Cn_Sl,Cn_Sp
1,0,0,1,1,0,0,1,0,0,1,0,0,0,1,0
2,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1
3,0,0,1,1,0,0,1,0,0,1,0,0,1,0,0
4,0,0,1,1,0,0,1,0,0,0,0,1,0,1,0
5,0,0,1,1,0,0,1,0,0,0,0,1,0,0,1

In [5]:
df_ohe.columns

Index(['Pr_05', 'Pr_10', 'Pr_30', 'In_0.5', 'In_1', 'In_3', 'Cp_12', 'Cp_20',
       'Cp_32', 'Cl_D', 'Cl_E', 'Cl_F', 'Cn_Lk', 'Cn_Sl', 'Cn_Sp'],
      dtype='object')

In [6]:
# Getting the right order
df_ohe = df_ohe[['Pr_30','Pr_10','Pr_05','In_0.5','In_1','In_3','Cp_12','Cp_20','Cp_32','Cl_D', 'Cl_F', 'Cl_E','Cn_Sl','Cn_Sp','Cn_Lk']]

In [7]:
df_customers = pd.read_csv('https://raw.githubusercontent.com/Kenrich005/ISB_Marketing_Analytics/main/mugs-preference-parameters-full.csv')
df_customers.head()

,Cust,pPr30,pPr10,pPr05,pIn0.5,pIn1,pIn3,pCp12,pCp20,pCp32,...,pCnLk,pBrA,pBrB,pBrC,IPr,Iin,ICp,ICl,Icn,IBr
0,1,1,3,7,1,3,7,1,7,6,...,7,7,5,1,5,8,32,7,34,14
1,2,1,6,7,1,4,7,1,7,6,...,7,7,5,1,6,3,17,10,51,15
2,3,1,6,7,1,4,7,7,4,1,...,7,1,3,7,55,5,5,8,16,9
3,4,1,6,7,1,4,7,7,1,3,...,7,7,1,5,12,9,3,40,20,16
4,5,1,4,7,1,4,7,1,7,2,...,7,3,1,7,56,6,19,9,0,11

In [8]:
df_customers.columns

Index(['Cust', ' pPr30', ' pPr10', ' pPr05', 'pIn0.5', 'pIn1', 'pIn3',
       ' pCp12', ' pCp20', ' pCp32', ' pClD', ' pClF', ' pClE', 'pCnSl',
       'pCnSp', 'pCnLk', ' pBrA', ' pBrB', ' pBrC', ' IPr', 'Iin', ' ICp',
       ' ICl', 'Icn', ' IBr'],
      dtype='object')

In [9]:
df_customers.columns = df_customers.columns.str.strip()
df_customers.columns

Index(['Cust', 'pPr30', 'pPr10', 'pPr05', 'pIn0.5', 'pIn1', 'pIn3', 'pCp12',
       'pCp20', 'pCp32', 'pClD', 'pClF', 'pClE', 'pCnSl', 'pCnSp', 'pCnLk',
       'pBrA', 'pBrB', 'pBrC', 'IPr', 'Iin', 'ICp', 'ICl', 'Icn', 'IBr'],
      dtype='object')

In [10]:
# We don't need the Brand columns
brand_cols = list(filter(lambda k: 'Br' in k, df_customers.columns))
brand_cols

['pBrA', 'pBrB', 'pBrC', 'IBr']

In [11]:
# Dropping these columns
df_customers = df_customers.drop(columns = brand_cols)
df_customers.head()

,Cust,pPr30,pPr10,pPr05,pIn0.5,pIn1,pIn3,pCp12,pCp20,pCp32,...,pClF,pClE,pCnSl,pCnSp,pCnLk,IPr,Iin,ICp,ICl,Icn
0,1,1,3,7,1,3,7,1,7,6,...,2,7,1,5,7,5,8,32,7,34
1,2,1,6,7,1,4,7,1,7,6,...,6,7,1,7,7,6,3,17,10,51
2,3,1,6,7,1,4,7,7,4,1,...,3,7,1,5,7,55,5,5,8,16
3,4,1,6,7,1,4,7,7,1,3,...,5,7,1,5,7,12,9,3,40,20
4,5,1,4,7,1,4,7,1,7,2,...,3,7,1,7,7,56,6,19,9,0

In [12]:
df_customers.columns

Index(['Cust', 'pPr30', 'pPr10', 'pPr05', 'pIn0.5', 'pIn1', 'pIn3', 'pCp12',
       'pCp20', 'pCp32', 'pClD', 'pClF', 'pClE', 'pCnSl', 'pCnSp', 'pCnLk',
       'IPr', 'Iin', 'ICp', 'ICl', 'Icn'],
      dtype='object')

In [13]:
# Importance Matrix

df_importance = pd.DataFrame()
df_importance['IPr30'] = df_customers['pPr30']*df_customers['IPr']
df_importance['IPr10'] = df_customers['pPr10']*df_customers['IPr']
df_importance['IPr05'] = df_customers['pPr05']*df_customers['IPr']

df_importance['Iin0.5'] = df_customers['pIn0.5']*df_customers['Iin']
df_importance['Iin1'] = df_customers['pIn1']*df_customers['Iin']
df_importance['Iin3'] = df_customers['pIn3']*df_customers['Iin']

df_importance['ICp12'] = df_customers['pCp12']*df_customers['ICp']
df_importance['ICp20'] = df_customers['pCp20']*df_customers['ICp']
df_importance['ICp32'] = df_customers['pCp32']*df_customers['ICp']

df_importance['IpClD'] = df_customers['pClD']*df_customers['ICl']
df_importance['IpClF'] = df_customers['pClF']*df_customers['ICl']
df_importance['IpClE'] = df_customers['pClE']*df_customers['ICl']

df_importance['ICnSl'] = df_customers['pCnSl']*df_customers['Icn']
df_importance['ICnSp'] = df_customers['pCnSp']*df_customers['Icn']
df_importance['ICnLk'] = df_customers['pCnLk']*df_customers['Icn']

In [14]:
df_importance.head()

,IPr30,IPr10,IPr05,Iin0.5,Iin1,Iin3,ICp12,ICp20,ICp32,IpClD,IpClF,IpClE,ICnSl,ICnSp,ICnLk
0,5,15,35,8,24,56,32,224,192,7,14,49,34,170,238
1,6,36,42,3,12,21,17,119,102,10,60,70,51,357,357
2,55,330,385,5,20,35,35,20,5,8,24,56,16,80,112
3,12,72,84,9,36,63,21,3,9,40,200,280,20,100,140
4,56,224,392,6,24,42,19,133,38,9,27,63,0,0,0

In [15]:
df_ohe.head()

,Pr_30,Pr_10,Pr_05,In_0.5,In_1,In_3,Cp_12,Cp_20,Cp_32,Cl_D,Cl_F,Cl_E,Cn_Sl,Cn_Sp,Cn_Lk
1,1,0,0,1,0,0,1,0,0,1,0,0,1,0,0
2,1,0,0,1,0,0,1,0,0,1,0,0,0,1,0
3,1,0,0,1,0,0,1,0,0,1,0,0,0,0,1
4,1,0,0,1,0,0,1,0,0,0,1,0,1,0,0
5,1,0,0,1,0,0,1,0,0,0,1,0,0,1,0

In [16]:
df_ohe.shape, df_importance.shape, df_importance.T.shape

((243, 15), (311, 15), (15, 311))

In [17]:
np.dot(df_importance, df_ohe.T).shape

(311, 243)

In [18]:
np.dot(df_importance, df_ohe.T).max()

644

In [19]:
np.dot(df_importance, df_ohe.T).min()

82

In [20]:
c = 100/(12*(644-82))
c

0.01482799525504152

In [21]:
prod_cust_matrix = pd.DataFrame(np.exp(np.dot(df_importance, df_ohe.T)*c))
prod_cust_matrix

,0,1,2,3,4,5,6,7,8,9,...,233,234,235,236,237,238,239,240,241,242
0,3.579444,26.891626,73.708537,3.970943,29.832873,81.770340,6.672425,50.128552,137.399731,61.693753,...,7528.515402,122.030433,916.789431,2512.871733,135.377399,1017.062434,2787.714773,227.476347,1708.982799,4684.232195
1,3.632916,339.475621,339.475621,7.625023,712.515665,712.515665,8.843788,826.402424,826.402424,16.485663,...,8351.939867,28.534872,2666.423861,2666.423861,59.891027,5596.480732,5596.480732,69.463862,6491.008503,6491.008503
2,5.838836,15.082319,24.240359,7.402216,19.120691,30.730846,11.896868,30.730846,49.390730,4.674450,...,8229.010990,778.812146,2011.752609,3233.296274,987.343293,2550.410205,4099.028765,1586.861812,4099.028765,6587.974274
3,4.537860,14.860328,26.891626,48.663767,159.361368,288.384364,159.361368,521.867643,944.384892,3.474851,...,4684.232195,24.602473,80.566795,145.795712,263.835609,863.994010,1563.505425,863.994010,2829.358982,5120.079611
4,3.798171,3.798171,3.798171,4.960088,4.960088,4.960088,8.459003,8.459003,8.459003,20.592173,...,11403.059900,1251.709777,1251.709777,1251.709777,1634.626525,1634.626525,1634.626525,2787.714773,2787.714773,2787.714773
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,3.798171,5.752896,7.080152,9.246076,14.004562,17.235567,9.246076,14.004562,17.235567,6.477453,...,11403.059900,2298.963213,3482.122812,4285.486344,5596.480732,8476.705115,10432.373003,5596.480732,8476.705115,10432.373003
307,3.798171,4.744279,14.426101,68.441451,85.489929,259.952318,122.030433,152.427701,463.492422,5.421603,...,11403.059900,88.063185,109.999354,334.479014,1586.861812,1982.142423,6027.172141,2829.358982,3534.140418,10746.388565
308,3.742267,5.502593,11.896868,4.605649,6.772101,14.641605,13.003820,19.120691,41.339845,15.536298,...,10278.823058,360.219698,529.663550,1145.157826,443.326292,651.862680,1409.358168,1251.709777,1840.501917,3979.252822
309,3.742267,4.674450,5.838836,7.971872,9.957632,12.438036,16.981883,21.211999,26.495819,5.838836,...,10278.823058,930.484867,1162.264738,1451.780002,1982.142423,2475.885774,3092.618519,4222.409977,5274.194564,6587.974274
310,3.526760,3.526760,5.502593,9.957632,9.957632,15.536298,79.380965,79.380965,123.853381,4.213592,...,6786.273016,166.610435,166.610435,259.952318,470.416292,470.416292,733.962464,3750.098430,3750.098430,5851.054756

In [22]:
exp_sum = prod_cust_matrix.sum(axis=1)
exp_sum

0      191998.989177
1      503642.703950
2      349721.582835
3      168938.095897
4      255006.549004
           ...
306    362398.117720
307    293571.278886
308    150506.152943
309    251978.104697
310    117836.222465
Length: 311, dtype: float64

In [23]:
prod_cust_probs = round(prod_cust_matrix.div(exp_sum, axis=0),4)
prod_cust_probs

,0,1,2,3,4,5,6,7,8,9,...,233,234,235,236,237,238,239,240,241,242
0,0.0,0.0001,0.0004,0.0000,0.0002,0.0004,0.0000,0.0003,0.0007,0.0003,...,0.0392,0.0006,0.0048,0.0131,0.0007,0.0053,0.0145,0.0012,0.0089,0.0244
1,0.0,0.0007,0.0007,0.0000,0.0014,0.0014,0.0000,0.0016,0.0016,0.0000,...,0.0166,0.0001,0.0053,0.0053,0.0001,0.0111,0.0111,0.0001,0.0129,0.0129
2,0.0,0.0000,0.0001,0.0000,0.0001,0.0001,0.0000,0.0001,0.0001,0.0000,...,0.0235,0.0022,0.0058,0.0092,0.0028,0.0073,0.0117,0.0045,0.0117,0.0188
3,0.0,0.0001,0.0002,0.0003,0.0009,0.0017,0.0009,0.0031,0.0056,0.0000,...,0.0277,0.0001,0.0005,0.0009,0.0016,0.0051,0.0093,0.0051,0.0167,0.0303
4,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0001,...,0.0447,0.0049,0.0049,0.0049,0.0064,0.0064,0.0064,0.0109,0.0109,0.0109
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0315,0.0063,0.0096,0.0118,0.0154,0.0234,0.0288,0.0154,0.0234,0.0288
307,0.0,0.0000,0.0000,0.0002,0.0003,0.0009,0.0004,0.0005,0.0016,0.0000,...,0.0388,0.0003,0.0004,0.0011,0.0054,0.0068,0.0205,0.0096,0.0120,0.0366
308,0.0,0.0000,0.0001,0.0000,0.0000,0.0001,0.0001,0.0001,0.0003,0.0001,...,0.0683,0.0024,0.0035,0.0076,0.0029,0.0043,0.0094,0.0083,0.0122,0.0264
309,0.0,0.0000,0.0000,0.0000,0.0000,0.0000,0.0001,0.0001,0.0001,0.0000,...,0.0408,0.0037,0.0046,0.0058,0.0079,0.0098,0.0123,0.0168,0.0209,0.0261
310,0.0,0.0000,0.0000,0.0001,0.0001,0.0001,0.0007,0.0007,0.0011,0.0000,...,0.0576,0.0014,0.0014,0.0022,0.0040,0.0040,0.0062,0.0318,0.0318,0.0497

In [24]:
prod_shares = prod_cust_probs.mean(axis=0)
prod_shares.index += 1 
prod_shares

1      0.000060
2      0.000149
3      0.000341
4      0.000197
5      0.000445
         ...
239    0.007989
240    0.015445
241    0.008110
242    0.012909
243    0.024280
Length: 243, dtype: float64

In [25]:
product_by_cust = prod_cust_probs.idxmax(axis=1)
product_by_cust

0      233
1      232
2      224
3      224
4      231
      ...
306    230
307    233
308    233
309    233
310    233
Length: 311, dtype: int64

In [26]:
# Most popular product
product_by_cust.value_counts()

233    75
242    45
224    41
152    22
161    13
230    13
143    11
221    11
206     9
232     6
215     6
149     5
125     4
239     4
223     3
197     3
222     3
142     3
220     2
238     2
160     2
229     2
151     2
158     2
203     2
231     2
189     1
205     1
241     1
154     1
107     1
194     1
134     1
212     1
185     1
71      1
139     1
190     1
140     1
116     1
179     1
196     1
176     1
173     1
dtype: int64

In [27]:
df.iloc[233]

Pr    05
In     3
Cp    20
Cl     E
Cn    Lk
Name: 234, dtype: object

In [28]:
df_prices = df.copy()

df_prices.head()

   Pr   In  Cp Cl  Cn
1  30  0.5  12  D  Sl
2  30  0.5  12  D  Sp
3  30  0.5  12  D  Lk
4  30  0.5  12  F  Sl
5  30  0.5  12  F  Sp

In [29]:
df_prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 1 to 243
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pr      243 non-null    object
 1   In      243 non-null    object
 2   Cp      243 non-null    object
 3   Cl      243 non-null    object
 4   Cn      243 non-null    object
dtypes: object(5)
memory usage: 9.6+ KB

In [30]:
df_prices['Pr'] = pd.to_numeric(df_prices['Pr'])
df_prices['In'] = pd.to_numeric(df_prices['In'])
df_prices['Cp'] = df_prices['Cp'].replace({'12':1,'20':2.6,'32':2.8})
df_prices['Cl'] = df_prices['Cl'].replace({'D':1,'F':2.2,'E':3})
df_prices['Cn'] = df_prices['Cn'].replace({'Sl':0.5,'Sp':0.8,'Lk':1})

df_prices['Profit'] = df_prices['Pr'] - df_prices['In'] - df_prices['Cp'] - df_prices['Cl'] - df_prices['Cn']

In [31]:
df_prices['share'] = prod_shares

In [32]:
df_prices

     Pr   In   Cp   Cl   Cn  Profit     share
1    30  0.5  1.0  1.0  0.5    27.0  0.000060
2    30  0.5  1.0  1.0  0.8    26.7  0.000149
3    30  0.5  1.0  1.0  1.0    26.5  0.000341
4    30  0.5  1.0  2.2  0.5    25.8  0.000197
5    30  0.5  1.0  2.2  0.8    25.5  0.000445
..   ..  ...  ...  ...  ...     ...       ...
239   5  3.0  2.8  2.2  0.8    -3.8  0.007989
240   5  3.0  2.8  2.2  1.0    -4.0  0.015445
241   5  3.0  2.8  3.0  0.5    -4.3  0.008110
242   5  3.0  2.8  3.0  0.8    -4.6  0.012909
243   5  3.0  2.8  3.0  1.0    -4.8  0.024280

[243 rows x 7 columns]

In [33]:
df_prices['exp_profit'] = df_prices['Profit']*df_prices['share']
df_prices

     Pr   In   Cp   Cl   Cn  Profit     share  exp_profit
1    30  0.5  1.0  1.0  0.5    27.0  0.000060    0.001623
2    30  0.5  1.0  1.0  0.8    26.7  0.000149    0.003975
3    30  0.5  1.0  1.0  1.0    26.5  0.000341    0.009032
4    30  0.5  1.0  2.2  0.5    25.8  0.000197    0.005077
5    30  0.5  1.0  2.2  0.8    25.5  0.000445    0.011340
..   ..  ...  ...  ...  ...     ...       ...         ...
239   5  3.0  2.8  2.2  0.8    -3.8  0.007989   -0.030358
240   5  3.0  2.8  2.2  1.0    -4.0  0.015445   -0.061779
241   5  3.0  2.8  3.0  0.5    -4.3  0.008110   -0.034871
242   5  3.0  2.8  3.0  0.8    -4.6  0.012909   -0.059380
243   5  3.0  2.8  3.0  1.0    -4.8  0.024280   -0.116543

[243 rows x 8 columns]

In [34]:
# Q1: Expected Profit for customer 45

df_prices.iloc[45]

Pr            30.000000
In             1.000000
Cp             2.800000
Cl             1.000000
Cn             0.500000
Profit        24.700000
share          0.000097
exp_profit     0.002399
Name: 46, dtype: float64